@page "/info"


<title>Herning Svømmehal</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #3e7acf;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


article {
  float: left;
  padding: 20px;
  width: 100%;
        background-color: #fff;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
table, th, td {
  border:1px solid black;
}
</style>


<header>
  <h2>Info</h2>
</header>

<section>
   <article>
	<h1>Priser:</h1>
	<table style="width:100%">
  <tr>
    <th>Billetpriser</th>
    <th>Pris</th>
    <th>Pr. Stk.</th>
  </tr>
  <tr>
    <td>1 adgangsbillet - for ét barn</td>
    <td> 30,00 DKK </td>
    <td></td>
  </tr>
  <tr>
    <td>2 adgangsbillet - for én voksen</td>
    <td>60,00 DKK</td>
    <td></td>
  </tr>
  <tr>
    <td>2 adgangsbillet - for én voksen</td>
    <td>60,00 DKK</td>
    <td></td>
  </tr>
<tr>
    <td>10 adgangsbilletter</td>
    <td>	227,00 DKK</td>
    <td>	22,70 DKK</td>
  </tr>
<tr>
    <td>20 adgangsbilletter</td>
    <td>	408,00 DKK</td>
    <td>	20,40 DKK</td>
  </tr>
<tr>
    <td>50 adgangsbilletter</td>
    <td>	766,00 DKK</td>
    <td>	15,52 DKK</td>
  </tr>
<tr>
    <td>100 adgangsbilletter</td>
    <td>	1.266,00 DKK</td>
    <td>	12,66 DKK</td>
  </tr>
<tr>
    <td>Vaskebillet (adgang til bruserum og Sauna)</td>
    <td>	35,00 DKK</td>
    <td>	</td>
  </tr>
</table>
	 <h1>Kontakt:</h1>
	 <p> Du kan i nedenstående formular sende os en direkte besked. Vi bestræber os altid på at svare alle henvendelser hurtigst muligt - men giv os endeligt et kald, hvis du har brug for et svar i dag.</p>
	<p> Adresse: Brændgårdvej 20, 7400 Herning</p>
	<p> Telefon: + 45 96 28 86 85</p>
	<p> E-mail: info@herning-bad.dk</p>
	<p> CVR: 29189918 </p>
	  <h1>Historie:</h1>
	<p> Der er sket meget siden det første spadestik i 1969.

	I slutningen af 60´erne gik man i gang med at planlægge og gennemføre opførslen af Herning Svømmehal med tilhørende friluftsbassin 	på arealer ved den nordlige ende af Brændgårdvej. Placeringen var vel oprindeligt tænkt som særlig gunstig i forbindelse med 	Gullestrupplanen, nær ved vandrehjem og Holing områdets sportshaller.

	Den nye svømmehal, som blev en af byens mest spændende bygninger rummede konkurrencebassin, springbassin og undervisningsbassin og 	desuden et stort friluftsbassin. Det blev taget i brug allerede i slutningen af november 1970, men den officielle indvielse fandt 	først sted den 12. juni 1971, da de udendørs anlæg var færdige. </p>

  </article>
</section>
